<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magezil" translate="label" sortOrder="1">
            <label>Magezil</label>
        </tab>
        <section id="magezil_bought_together" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Frequently Bought Together</label>
            <tab>magezil</tab>
            <resource>Magezil_BoughtTogether::config_bought_together</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="user_logged" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Logged User</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show block only when the user is logged in.</comment>
                    <depends>
                        <field id="magezil_bought_together/general/enable">1</field>
                    </depends>
                </field>
                <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                    <depends>
                        <field id="magezil_bought_together/general/enable">1</field>
                    </depends>
                </field>
                <field id="products_qty" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Quantity Products</label>
                    <comment>Quantity of products to display on frontend. To do not apply this filter, just leave it empty.</comment>
                    <depends>
                        <field id="magezil_bought_together/general/enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="cards_configuration" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Cards Configuration</label>
                <field id="show_wishlist" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Wishlist</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show button add to wishlist in frequently bought together list products.</comment>
                    <depends>
                        <field id="magezil_bought_together/general/enable">1</field>
                    </depends>
                </field>
                <field id="show_compare" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Compare</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show button add to compare in frequently bought together list products.</comment>
                    <depends>
                        <field id="magezil_bought_together/general/enable">1</field>
                    </depends>
                </field>
                <field id="qty_products" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Qty Products</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show quantity products to add to cart in frequently bought together list products.</comment>
                    <depends>
                        <field id="magezil_bought_together/general/enable">1</field>
                    </depends>
                </field>
                <depends>
                    <field id="magezil_bought_together/general/enable">1</field>
                </depends>
            </group>
        </section>
    </system>
</config>