/* Button sellect all */
button#select_all_bought_together {
    background: none;
    padding: 0;
    border: none;
    cursor: pointer;
    font-weight: normal;
    color: #006bb4;
}

/* Button add all products selected in cart */
button#add_all_bought_together {
    background: #006bb4;
    border: 1px solid #006bb4;
    color: #ffffff;
    font-size: 1.4rem;
    border-radius: 0;
    line-height: 1;
    padding-bottom: 10px;
    padding-top: 10px;
    white-space: nowrap;
    float: right;
}

/* Product Card */
li.card-list {
    width: 20% !important;
}

div.block-content-bought-together {
    margin-top: 5%;
}

div.product-item-info {
    width: 240px;
}

.product-item-inner {
    margin: 9px 0 0 -1px;
}

.product-item-inner::before {
    background: #ffffff;
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    top: -2px;
    width: 100%;
    z-index: -1;
}

button.add-to-cart {
    margin-top: 25px;
}